.discount-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .discount-desktop {
    display: block;
  }

  .discount-mobile {
    display: none;
  }
}

.card-section {
  background-color: var(--White);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;

  padding: 2.5rem 0;
  border-radius: 0.5rem;
}

.interact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

#range {
  grid-area: 2/1/3/2;
  margin: 0 2rem;
}

@media (min-width: 1024px) {
  .interact {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .interact > :nth-child(1) {
    grid-area: 1/1/2/2;
  }

  .interact > :nth-child(2) {
    grid-area: 1/2/2/3;
  }
  #range {
    grid-area: 2/1/3/3;
  }
  .interact > :nth-child(4) {
    grid-area: 3/1/4/3;
  }
}

.pageview {
  font-size: var(--fs-pageview);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.price {
  font-size: var(--fs-price);
  color: var(--DarkDesaturatedBlue);
}

.duration {
  font-size: var(--fs-duration);
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

[class*="discount-"] {
  color: var(--LightRed);
  background-color: var(--LightGrayishRed);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}

.hr-line {
  width: 100%;
  height: 2px;
  background-color: var(--GrayishBlue);
  opacity: 0.08;

  margin-block: 2rem;
}

@media (min-width: 1024px) {
  .duration {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 4rem;
  }

  [class*="discount-"] {
    padding: 0.25rem 0.75rem;
    border-radius: 100vmax;
  }

  .dis-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .hr-line {
    margin-block: 2.5rem 2rem;
  }
}

.cta {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
}

.features li {
  margin-block: 0.5rem;
  position: relative;
  max-width: fit-content;
  margin-inline: auto;
  padding-left: 1.25rem;
}

.features li::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 15px;
  scale: 1.3;
  transform: translateY(-50%);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }

  .features li {
    margin: 0.25rem 0;
  }
}

.btn {
  background-color: var(--DarkDesaturatedBlue);
  color: var(--PaleBlue);
  font-weight: var(--fw-800);
  border: 0;
  border-radius: 100vmax;
  padding: 1rem 3rem;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(219, 219, 219);
  opacity: 0;
  clip-path: circle(1rem at 50% 50%);
  transition: all 1s ease;
}

.btn:hover::after {
  opacity: 0.1;
  clip-path: circle(8rem at 50% 50%);
  transition: all 1s ease;
}

.btn:hover,
.btn:focus-visible {
  color: var(--White);
  -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

/* ranging bar */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
}

input:focus-visible {
  outline: 2px solid var(--StrongCyan);
}

@media (min-width: 1024px) {
  input[type="range"] {
    width: 450px;
    margin-bottom: 0.75rem !important;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background-color: var(--StrongCyan);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(-40%);
  border-radius: 50%;
  cursor: grab;
  position: relative;
  box-shadow: var(--SoftCyan) -236px 0 0 200px;
  clip-path: polygon(-450px 40%, 0% 40%, 0% -40%, 100% -40%, 100% 100%, 0% 100%, 0% 60%, -450px 60%);
}

input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background-color: var(--StrongCyan);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  border-radius: 50%;
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-ms-thumb {
  width: 35px;
  height: 35px;
  background-color: var(--StrongCyan);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: grab;
}

input[type="range"]:active::-ms-thumb {
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 7px;
  background-color: var(--LightGrayishBlue);
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  height: 7px;
  background-color: var(--LightGrayishBlue);
  border-radius: 10px;
}

input[type="range"]::-ms-track {
  height: 7px;
  background-color: var(--LightGrayishBlue);
  border-radius: 10px;
  border: none;
  color: transparent;
}

input[type="range"]::-moz-range-progress {
  height: 7px;
  border-radius: 10px;
  background-color: var(--SoftCyan);
}

input[type="range"]::-ms-fill-lower {
  height: 7px;
  border-radius: 10px;
  background-color: var(--SoftCyan);
}

/* Switching */
.switch {
  position: relative;
  width: 55px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--LightGrayishBlueToggle);
  transition: 0.4s;
  border-radius: 34px;
  -webkit-tap-highlight-color: transparent;
}

.slider:hover {
  background-color: var(--SoftCyan);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--StrongCyan);
}

input:checked + .slider:before {
  transform: translateX(28px);
}
